<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지 - 내정보</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
    <div>
        <a href="/mypage">내정보</a>
        <a href="/mypage/edit">회원정보 수정</a>
        <a href="/mypage/editPW">비밀번호 변경</a>
        <img style="height:20px; width:20px; border-radius: 70%; overflow: hidden; align-items: center;" src=<%= userInfo.profile_image_path %>> 
        <b><%= userInfo.nickname %></b><br>
    </div><hr>
    
    <div>
        <img style="height:60px; width:60px; border-radius: 70%; overflow: hidden; align-items: center;" src=<%= userInfo.profile_image_path %>> 
        <b><%= userInfo.nickname %></b> 님 
    </div><br>

    <div>
        <div>
            등급<%= userInfo.user_level %><br>            
            <img style="height:40px; width:40px; border-radius: 70%; overflow: hidden; align-items: center;" src="https://bucket-sunu.s3.ap-northeast-2.amazonaws.com/source/level/1.png">
        </div>
        <div>
            포인트<br>
            <%= userInfo.user_point %> <b>P</b>
        </div>
        <div>
            게시글 수<br>
            <%= userInfo.posting_count %>
        </div>
    </div>

</html>